.contact-us {
    /* Frame 70 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;

    height: 51px;

    background: #46B0E6;
    border: 1px solid #46B0E6;
    box-shadow: 0px 10px 40px rgba(70, 176, 230, 0.7);
    border-radius: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    /* Contact us */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.nav-link {
    /* Careers */

    height: 19px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #515151;

}